@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    padding: .5rem 5rem;
    z-index: 100;
    box-shadow: 5xp 5px 20px rgba(0, 0, 0, 0.5);
    background: black;
}


.navbar .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #34d5eb !important;
}
#support a{
    font-size: medium;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    color: aqua;
}
#support a:hover{
    border-bottom: 2px solid #34d5eb;
}
#support button{
    background: #34d5eb;
}
