body {
    background: rgb(0, 0, 0)
}

.form-control:focus {
    box-shadow: none;
    border-color: #7ceeff
}

.profile-button {
    background: rgb(128, 217, 255);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #6dfdff
}

.profile-button:focus {
    background: #8ff6ff;
    box-shadow: none
}

.profile-button:active {
    background: #61daff;
    box-shadow: none
}

.back:hover {
    color: #51fff1;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #98d8ff;
    color: #fff;
    cursor: pointer;
    border: solid 1px #9bf2ff
}